# Flutter/Dart files
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache
.pub/
/build/

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Runner.xcworkspace/
ios/DerivedData/

# Android
.android/
app/**/build/
app/**/local.properties
*.jks

# Miscellaneous
*.class
*.log
*.lock
*.pyc
*.pyo
*.swp
*.swo
*.DS_Store
*.apk
*.ipa

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Coverage
coverage/
